In [1]:
import pandas as pd
import pyodbc

In [2]:
df =  pd.read_excel('baseDeDados.xlsx')

In [3]:
df.head()

,Name,email,address,Phone Number,Comments
0,Andre Emidio,andre.emidio@outlook.com,Teste,(12)98862-4725,Entre em contato !
1,João Souza,joao.souza@gmail.com,Rua Quatro 352,12988625847,It is a long established fact that a reader wi...
2,José Maria,jose.maria@gmail.com,Rua Doutor Arnaldo Machado 1801,12988625847,It is a long established fact that a reader wi...
3,Analice vieira,analice.vieira@gmail.com,Rua Cristo Rei 142,12988625847,It is a long established fact that a reader wi...
4,Janaina vicente,janaina.vicente@gmail.com,Passagem Bom Sossego III 1911,12988625847,It is a long established fact that a reader wi...

In [4]:
print(pyodbc.version)

4.0.26

In [5]:
#https://stackoverflow.com/questions/36180703/pyodbc-error-python-to-ms-access?noredirect=1&lq=1
conn_str = r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:\\Users\\Andre\\Documents\\bancoteste.accdb;'
cnxn =  pyodbc.connect(conn_str)

In [6]:
crsr = cnxn.cursor()

In [7]:
table_name =  "cadastroUsuario"

In [8]:
df1 = pd.DataFrame([['Andre Emidio','andre.emidio@outlook.com' ,'Teste' ,'(12)98862-4725' ,'Entre em contato !'] ], columns=['Name' ,'email' ,'address' ,'Phone' 'Number' ,'Comments'])

#['Andre Emidio','andre.emidio@outlook.com' ,'Teste' ,'(12)98862-4725' ,'Entre em contato !']

#['Name' ,'email' ,'address' ,'Phone' 'Number' ,'Comments']

In [18]:
type(df1)

pandas.core.frame.DataFrame

In [10]:
conn = pyodbc.connect(r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:\\Users\\Andre\\Documents\\bancoteste.accdb;')
cursor = conn.cursor()
#cursor.execute('select * from cadastroUsuario')

In [11]:
cursor.execute("INSERT INTO cadastroUsuario (Nome,email,address,phonenumber,coments) VALUES ('Andre Emidio','andre.emidio@outlook.com' ,'Teste' ,'(12)98862-4725' ,'Entre em contato !')")

In [12]:
conn.commit()

In [13]:
cursor.execute('select * from cadastroUsuario')

for row in cursor.fetchall():
    print (row)

(15, 'Andre Emidio', 'andre.emidio@outlook.com', 'Teste', '(12)98862-4725', 'Entre em contato !')
(16, 'Andre Emidio', 'andre.emidio@outlook.com', 'Teste', '(12)98862-4725', 'Entre em contato !')
(17, 'Andre Emidio', 'andre.emidio@outlook.com', 'Teste', '(12)98862-4725', 'Entre em contato !')
(18, 'Andre Emidio', 'andre.emidio@outlook.com', 'Teste', '(12)98862-4725', 'Entre em contato !')

In [19]:
#cursor.close()
#conn.close()
df1

,Name,email,address,PhoneNumber,Comments
0,Andre Emidio,andre.emidio@outlook.com,Teste,(12)98862-4725,Entre em contato !

In [34]:
for index, row in df1.iterrows():
    print(row)
    
    with conn.cursor() as crsr:
       crsr.execute("INSERT INTO Output(Nome,email,address,phonenumber,coments) VALUES(row[])", 
        #row["Name"], row["email"], row['address'], row['PhoneNumber'],row['Comments']
        )

Name                       Andre Emidio
email          andre.emidio@outlook.com
address                           Teste
PhoneNumber              (12)98862-4725
Comments             Entre em contato !
Name: 0, dtype: object

Error: ('21S01', '[21S01] [Microsoft][ODBC Microsoft Access Driver] Number of query values and destination fields are not the same. (-3520) (SQLExecDirectW)')

In [ ]:
cnxn.commit()